html{
    height: 0; 
    font-size: 16px;
}

body{
    margin: 0;
    font-family: "Ramabhadra", sans-serif;
}


header {
    background-color: #fff;
    margin: 0;
    width: 100vw;
    height: 156px;
    position: sticky;
    top: 0px;

}

.header_nav_upper{
    background-color: #fff;
    width: 78vw;
    height: 64px;
    padding: 32px 48px 0px 48px;
    border: 0;
    margin: 0px 119px;
}

.logo{
    display: block;
    width: 208px;
    height: 52px;
}

.header_nav_upper span, .header_nav_upper a{
        display: inline-block;
        font-family: "Lalezar", system-ui;
        font-weight: 400;
        font-style: normal;
        font-size: 1.4rem;   
        color: #FF8F1C; 
        position: fixed;  
}

.header_nav_upper span {
    position: absolute;
    top: 2vw;
    left: 73vw;
}

.header_nav_upper a{
    position: absolute;
    top: 2vw;
    left: 84vw;
    text-decoration: none;
}

.header_nav_upper .hotel{
    position: absolute;
    top: 2vw;
    left: 61vw;
    cursor: pointer;
}

.header_nav_lower, .header_scroll{
    display: flex;
    background-color: #fff;
    width: 78vw;
    height: 50px;
    padding: 0px 48px;
    border: 0;
    margin: 0px 119px;
    justify-content: space-between;
    position: sticky;
}
.header_nav_lower .d1{
    width: 50%;
    background-color: #fff;
}
.header_nav_lower span, .header_nav_lower a, .header_scroll {
        font-family: "Lalezar", system-ui;
        font-weight: 400;
        font-style: normal;
        font-size: 1.6rem;   
}

.header_scroll .orange{
    color:#FF8F1C; 
    font-size: 1.4rem;
}

.header_nav_lower a, .header_scroll a{
    color: black;
    text-decoration: none;
}

.header_nav_lower img, .header_scroll img{
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.header_nav_lower a:hover, .header_scroll a:hover{
    color:#FF8F1C; 
}

.header_nav_lower span:hover, .header_scroll span:hover{
    display: block;
    border-bottom: 4px solid black;
    cursor: pointer;
}

.header_scroll .orange:hover{
    border: 0;
}

.header_scroll{
    position: fixed;
    top: 0;
    left: 0;
    width: 77vw;
    padding-bottom: 10px;
    padding-top: 10px;
}

.white{
    width: 100%;
    height: 70px;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
}

.header_scroll .left{
    width: 46%;
    display: flex;
    justify-content: space-between;
}

.header_scroll .right{
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    
}

.header_scroll .orange {
    display: block;
    padding-right: 40px;
}

#book_a_tour, #custom_tour{
    padding: 0px 167px;
    background-color: white;
    height: 100%;
    width: 100vw;
    z-index: 2;
    position: fixed; 
}

#book_a_tour h1{
    font-size: 1.6rem;
    color: black;
    font-family: "Lalezar", system-ui;
    font-weight: 500;
    margin: 12px 0px;
}

.div2{
    display: flex;
    justify-content: start;
    align-items: center;
    padding-bottom: 72px;
}

.div3{
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: start;
    font-family: "Ramabhadra", sans-serif;
    font-weight: 700;
    font-size: 1.3rem;
    line-height: 32px;
    height: 300px;
    padding-left: 48px;
}

.div3 a{
    text-decoration: none;
    color: #5E96FF;
}

.div3 a:hover{
    border-bottom: 3px solid #5E96FF;
}

#book_a_tour img{
    height: 300px;
    width: 700px;
    object-fit: cover;
}

.close_button{
    font-size: 1.3rem;
    color: black;
    font-family: "Lalezar", system-ui;
    font-weight: 300;
}

.close_button:hover{
    border-bottom: 4px solid black;
    cursor: pointer;
}

#custom_tour h1{
    line-height: 24px;
    font-weight: 800;
}

#custom_tour #chatgpt_text::placeholder{
    font-size: 1.3rem;
    color: gray;
    padding: 0px;
}

#custom_tour #chatgpt_text{
    width: 40%;
    padding-left: 0px;
    margin-bottom: 48px;
    border-bottom: 3px solid black;
    font-family: "Ramabhadra", sans-serif;
    font-weight: 800;
    font-size: 1.4rem;
}

#submit_chatgpt {
    background-color: white;
    color: black;
    border: none;
    font-family: "Lalezar", system-ui;
    font-weight: 4000;
    font-size: 2rem;
    cursor: pointer;
  }

  #close_custom_tour{
    width: fit-content;
  }
  
  #submit_chatgpt:hover {
    color: #8fc421;
    transform: scale(1.05); /* Ingrandisce leggermente al passaggio */
  }
  
  .span_chatgpt {
    display: block;
    width: 80%;
    font-family: "Ramabhadra", sans-serif;
    font-weight: 600;
    line-height: 24px;
    font-size: 1.3rem;
    color: #8fc421;  
  }

.pop_up_menu{
    font-family: "Lalezar", system-ui;
    width: 100vw;
    background-color: white;
    font-size: 2rem;
    color: black;
    position: fixed;
    z-index: 3;
    padding-bottom: 48px;
}


.pop_up_menu span{
    display: block;
    padding-left: 167px;
    padding-top: 10px;
}

.pop_up_menu span:hover{
    color: #FF8F1C;
    cursor: pointer;
}

.pop_up_menu .close:hover{
    color: black; 
}

.modal_view{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.7); 
    z-index: 3;  
}

.modal_view form{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

.modal_view .text_box{
    width: 30%;
    height: 8%;
    background-color: transparent;
    font-family: "Lalezar", system-ui;
    font-size: 2rem;
    color: white;
    caret-color: white; 
}

.modal_view .text_box::placeholder{
    text-align: center;
}

#modal_view_artworks{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.7); 
    z-index: 3;      
}

#modal_view_artworks h1{
    text-align: center;
    color: white;
    font-weight: 400;
    font-family: "Sedgwick Ave Display", cursive;
    font-size: 3rem;
    margin: 12px 12px;
}

#artworks_results{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding-top: 48px;
}

.artworks_and_title{
    width: 400px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.artworks_and_title img{
    width: 300px;
    height: 250px;
    object-fit: cover;
}

.artworks_and_title span{
    flex-shrink: 1; 
    white-space: wrap; 
    min-width: 0; /* Permette al testo di stringersi */
    color: white;
    font-weight: 700;
    text-align: center;
}

#modal_view_hotel{
    position: absolute;
    top: 0px;
    left: 0;
    width: 98%;
    height: 7000px;
    background-color: white; 
    z-index: 3;     
    padding-top: 24px;
    padding-left: 24px;
    padding-right: 24px;
    overflow: auto;
}

#modal_view_hotel form{
    padding-left: 48px;
    padding-right: 48px;
    display: flex;
    justify-content: space-around;
    align-items: start; 
}

#modal_view_hotel input{
    background-color: transparent;
    font-family: "Lalezar", system-ui;
    font-size: 1.2rem;
    color: black;
    caret-color: black; 
    border-bottom: 3px solid black;
}

input[type="number"] {
    border: 0; 
    outline: none;
}

input[type="text"] {
    outline: none;
}


#modal_view_hotel .box {
    width: 20%;
    height: 20%;
}

#modal_view_hotel input::placeholder{
    text-align: center;
}

.hotel_grid{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;    
}

.single_hotel{
    width: 25%;
    height: 450px;
    font-family: "Lalezar", system-ui;
    font-size: 1.2rem;
    color: black;
    border: 3px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 24px;
}

.single_hotel h1, .single_hotel img, .single_hotel span, .single_hotel a{
    flex-shrink: 1;
}

.single_hotel img{
    width: 300px;
    height: 250px;
    object-fit: cover;
}

.single_hotel h1{
    margin: 12px;
    text-align: center;
}

.single_hotel a{
    color:#00AFD7;
}

.single_hotel a:visited{
    color: #00AFD7;
}

.error_message{
    font-family: "Lalezar", system-ui;
    font-size: 3rem;
    color: red;
    text-align: center;
}

.modal_view_div{
    font-family: "Lalezar", system-ui;
    cursor: pointer;
    font-size: 1.5rem;
    color: white;
}

#container{
    display: flex;
    width: 100vw;
    height: 3072px;
    flex-direction: column;
}

#submit_artist {
    display: none;
}

.section-box{
    flex-grow: 1;
    display: flex;
}

.s1{
    background-color: #FF585D;
}

.s2{
    background-color: #FF8F1C;
}

.s3{
    background-color: #5E96FF;
}

.s4{
    background-color: #EEEEEE;
}

.s5{
    background-color: #00AFD7;
}

.s6{
    background-color: #FAC300;
}

.s7{
    background-color: #EEEEEE;
}

.s8{
    background-color: black;
}

.little{
    width: 36.6vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: "Ramabhadra", sans-serif;
    font-weight: 400;
    font-style: normal;   
}

.l1, .l3, .l5, .l7{
    padding-left: 130px;
}

.l2, .l4, .l6, .l8{
    padding-left: 60px;
}

.section-box img{
    width: 63.4vw;
    height: 384px;
    object-fit: cover;
}

.little h1{
    font-size: 3rem;
    margin-top: 25px;
    line-height: 46px;
}

.little span.strong{
    font-size: 1.2rem;
    margin-bottom: 25px;
    font-weight: 700;
    line-height: 20px;
    text-align: start;
}

.l8{
    color: white;
}

#home_location{
    display: flex;
    width: 77vw;
    height: 105px;
    padding: 0px 48px;
    border: 0;
    margin: 64px 119px 0px 119px;
}

#home_location .home{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 37vw;
    height: 105px;
    border: 0;
    margin: 0; 
    font-family: "Ramabhadra", sans-serif;
    font-weight: 800;
    font-size: 1.4rem;  
    line-height: 20px;             
}

#home_location .h1{
    padding: 0px 24px 0px 0px;
}

#home_location .h2{
    padding: 0px 0px 0px 24px;
}

.home .d2{
    font-size: 0.85em;  
}

#news_letter, #magazine, #collection, #orange, #store, #sponsor{
    display: flex;
    justify-content: space-between;
    width: 77vw;
    height: 117px;
    padding: 0px 48px;
    border: 0;
    margin: 128px 119px 0px 119px;
}

.newsl_descr{
    width: 70vw;
    height: 16px;
    border: 2.4px solid black;
    padding: 48px;
    font-weight: 800;
    font-size: 1.4rem;  
    line-height: 20px;         
}

.n1{
    border-right: 0px;
}

.n2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-left: 0px;
}

.b{
    border: 2px solid black;
}

.a{
    font-family: "Ramabhadra", sans-serif;
    font-weight: 800;
    font-size: 1.4rem;
}

.a::placeholder{
    color: black;
}

input[type="text"] {
    border: 0; 
    outline: none;
  }
  

#magazine{
    height: 470px;
    flex-direction: column;
}

.mag1{
    font-weight: 800;
    font-style: normal; 
    font-size: 2.3rem;  
    padding: 0;
}

.mag2{
    display: flex;
    justify-content: space-between;
}

.mag2 img{
    width: 37vw;
    height: 378px;
    object-fit: cover;
    align-self: end;
}

.mag2_2 span{
    display: block;
    text-align: start;
}

.mag2_2{
    width: 63vw;   
    padding: 45px;
}

.sent1{
    padding-top: 47px;
    font-size: 1.6rem;
    color: #FF8F1C;
    font-weight: 700;
    line-height: 20px;
}

.mag2_2 h1{
    margin: 0px;
    line-height: 40px;
    font-size: 2.7rem;
    font-weight: 900;
}
.sent2{
    padding-top: 30px;   
}
.sent3{
    padding-top: 15px;
}

.sent4{
    line-height: 10px;  
}

.sent2, .sent3, .sent4{
  font-family: "Ysabeau Infant", sans-serif;
  font-size: 1.3rem;
}


#collection{
    flex-direction: column;
    height: 437px;
}

#collection img{
    width: 14.8vw;
    height: 316px;
    object-fit: cover;
}

#collection .title{
    font-size: 2.3rem;
    font-weight: 800;   
    padding-bottom: 45px; 
}

#collection .subtitle{
    padding: 8px;
    padding-left: 0px;
    font-weight: 600;
    font-size: 1.1rem;
}

#orange{
    height: 340px;
}

.orange_figlio{
    display: flex;
    width: 71vw;
    height: 244px;
    padding: 48px;
    background-color: #FF8F1C;
    border-radius: 10px;
}
#orange .o1{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
}

.o1 .title{
    font-weight: 900;
    font-size: 4rem;  
    line-height: 60px;  
}

.o1 .subtitle{
    font-size: 2rem;
    font-weight: 700;
}

#orange .o2{
    display: flex;
    flex-grow: 1;
    justify-content: end;
    align-items: center;
}

.o2 img{
    width: 16.6vw;
    height: 243px;
}

#store{
    height: 518px;
    display: flex;  
}

#store img{
    width: 37vw;
    height: 378px;
    object-fit: cover;
}

#store .title{
    font-size: 2.3rem;
    font-weight: 800;  
    padding-bottom: 45px; 
}

.store2 .title{
    color: white;
}

#store .subtitle{
    padding: 8px;
    padding-left: 0px;
    font-weight: 600;
    font-size: 1.1rem;
}

#sponsor{
    display: flex;
    flex-direction: column;
    height: 118px;
}

#sponsor img{
    width: 11.7vw;
    height: 47px;
    padding-bottom: 25px;
    object-fit: cover;
}

#sponsor .title{
    font-family: "Ysabeau Infant", sans-serif;
    font-size: 1rem;
  }

  #footer{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 647px;
    border: 0;
    padding: 64px 0px;
    margin-top: 128px;
    background-color: #444444;
    font-family: "Lalezar", system-ui;
    font-weight: 400;
    font-size: 1.6rem; 
    color: white;
  }

  .footer_section, .footer_address, .footer_mail, .footer_info{
    width: 77vw;
    height: 16px;
    border: 0;
    padding: 0px 48px;
    margin: 0px 119px;
  }

.footer_address{
    height: 108px;
    margin-top: 128px;
}

.footer_mail{
    height: 15px;
    margin-top: 128px;
}

.footer_mail .word {
    background-color: transparent;
    caret-color: white;
    color: white;
    width: 43%;
}

.footer_mail .word::placeholder{
    color: white;
}
.footer_info{
    height: 15px;
    margin-top: 128px;
}

.footer_section, .footer_address{
    display: flex;
}

.footer_section .left{
    display: flex;
    width: 45vw;
    justify-content: space-between;
}

.footer_section .right{
    display: flex;
    flex-grow: 1;
    justify-content: end;    

}

.footer_address .left{
    display: flex;
    width: 50%;
    flex-direction: column;
}

.footer_address .right{
    width: 50%;
}

.footer_address{
    line-height: 20px;
}

.footer_address .left{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.social{
    display: flex;
    justify-content: space-between;
    width: 45%;
    font-size: 1.2rem;
}

.social .icon{
    width: 24px;
    height: 24px;
}

.social .f{
    border-radius: 40%;
}

.social .s{
    width: 34px;
    height: 34px;
}

.footer_mail, .footer_info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
}

.footer_mail .line{
    border: 2px solid white;
    width: 43%;
}

.footer_info .title{
    font-size: 1.6em;
}

.footer_info .info{
    display: flex;
    justify-content: space-between;
    width: 70%;
    font-size: .8em;
    font-weight: 300;
}

.footer_info .trademark{
    font-family: "Ysabeau Infant", sans-serif;
    font-size: 1rem;    
    padding-top: 10px;
    color: #FFFFFF45;
}


 @media (max-width: 600px) {
    html {
        font-size: 12px;
    }

    header{
        height: 108px;
        position: sticky;
        top: 0;
    }
   
    .logo{
        padding-left: 24px;
        width: 113px;
        height: 29px;
    }
    .header_nav_upper, .header_nav_lower {
        width: 100vw;
        margin: 0px;
        padding: 0;
    }

    .header_nav_upper{
        height: 32px;
        padding-top: 24px;
    }

    .header_nav_upper span{
        left: 55%;
        padding-top: 10px;
    }

    .header_nav_upper a{
        left: 80%;
        padding-top: 10px;
    }


    .header_nav_lower{
        height: 52px;
        padding-left: 24px;
        align-items: center;
    }

    .header_nav_lower .d1{
        width: 8vw;
    }
    #home_location, #news_letter, #magazine, #collection, #orange, #store, #sponsor{
        margin-left: 0;
        margin-right: 0;
        margin-top: 50px;
    }
    .l1, .l3, .l5, .l7{
        padding-left: 20px;
    }
    
    .l2, .l4, .l6, .l8{
        padding-left: 10px;
    }

    .footer_section, .footer_address, .footer_mail, .footer_info{
        margin-left: 0;
        margin-right: 0;
    }


    #news_letter{
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    #news_letter .n1, #news_letter .n2{
        padding: 10px;
    }

    .a{
        padding-bottom: 0px;
    }

    #news_letter .n1{
        border-bottom: 0px;
        border-right: 2.4px solid black;
        padding-bottom: 0;
    }
    #news_letter .n2{
        border-top: 0px;
        border-left: 2.4px solid black;
    }
    .b{
        width: 70%;
        align-self: center;
    }

    .mag2{
        height: 300px;
        flex-direction: column;
    }

    .sent1, .sent2, .sent3, .sent4{
        padding: 0;
    }

    #collection img{
        width: 220px;
        height: 250px;
        object-fit: cover;
    }

    #collection .title{
        padding-bottom: 0;
    }

    .little h1{
        font-size: 2.5rem;
        line-height: 25px;
    }

    .little{
        width: 60vw;
        height: 215px;
    }

    .section-box img{
        width: 40vw;
        height: 215px;
        object-fit: cover;
    }

    #container{
        height: 1720px;
    }

    #magazine, #collection{
        height: 330px;
        justify-content: space-around;
    }

    #magazine img{
        width: 78vw;
        height: 250px;
        object-fit: cover;
        align-self: start;
    }

    .mag2_2 h1{
        font-size: 2rem;
        line-height: 25px;
    }

    .sent2, .sent3, .sent4{
        font-size: 1rem;
        line-height: 16px;
    }

    .mag2_2{
        width: 78vw;
        height: 250px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0;

    }

    #orange{
        padding: 0px 24px;
        width: 89vw;
        height: 260px;
    }
    .orange_figlio{
        flex-direction: column;
        padding: 24px;
        width: 89vw;
        height: 212px;
    }

    .o1 .title{
        font-size: 3rem;
        line-height: 30px;
    }

    .o1 .subtitle{
        font-size: 2rem;
    }

    .o2 img{
        width: 109px;
        height: 103px;
    }

    .o2{
        width: 109px;
        height: 103px;
        align-self: center;
    }

    #store img{
        width: 179px;
        height: 119px;
        object-fit: cover;
    }
    
    #store{
        padding: 0px 24px;
        height: 263px;
    }

    .store1 img{
        padding-right: 24px;
    }

    .store2 .subtitle{
        line-height: 15px;
    }

    #sponsor{
        height: 100px;
        padding-left: 24px;
        padding-right: 24px;
    }

    #sponsor img{
        width: 86px;
        height: 36px;
        object-fit: cover;
    }
    #footer{
        margin-top: 50px;
    }

    .footer_address, .footer_section, .footer_info, .footer_mail{
        padding: 0px 24px;
    }

    .footer_section{
        padding-bottom: 48px;
    }

    .footer_section .left{
        flex-direction: column;
    }

    .footer_address .right{
        padding-left: 48px;
    }

   .footer_mail .line{
    width: 230px;
   }

   .footer_info{
    margin-top: 80px;
    padding-right: 0;
   }

   .footer_info .info{
    width: 87vw;
    font-size: 1rem;
    line-height: 15px;
   }

.social{
    width: 100%;
}
   
.social .icon{
    padding-top: 5px;
    width: 16px;
    height: 16px;
}

}

.no-scroll{
    overflow: hidden;
}

.hidden{
    display: none;
}

.scroll{
    overflow: auto;
}

.shrink{
    flex-shrink: 1;
}